<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Loda To-do</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <!--css-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!--js-->
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
<h1>To-do</h1>

<form method="post" th:action="@{/addtodo}" th:object="${todo}">
    <p>title: <input th:field="*{title}" type="text"/></p>
    <p>detail: <input th:field="*{detail}" type="text"/></p>
    <p>
        <button class="btn btn-success" type="submit">Add</button>
    </p>
</form>
</body>

</html>
