<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Loda To-do</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<h1>To-do</h1>
<h1 style="color: green" th:text="#{loda.message.success}"></h1>

<a class="btn btn-primary" th:href="@{/listtodo}" th:text="#{loda.value.viewListTodo}"></a>

</body>

</html>
